*{
   box-sizing: border-box;
   margin:0 ;
   padding: 0;
}

h1{
    justify-content: center;
    border: 2px solid black;
    align-items: center;
    display: flex;
}

.main {
    display: flex;
    margin: 10px;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    flex-wrap: wrap;
   

}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 15px;
}

#red{
    background-color: red;
    border-radius: 20px;
    color: white;
}

#blue{
    background-color: blue;
    border-radius: 30px;
    color: white;

}
#yellow{
    background-color: yellow;
    border-radius: 30px;
    color: rgb(223, 11, 11);

}

#white{
    background-color: white;
    border-radius: 30px;
}
#purple{
    background-color: purple;
    border-radius: 30px;
    color: white;

}

#green{
    background-color: green;
    border-radius: 30px;
    color: white;

}